@media (max-width: 576px) {
    .home-image {
        height: 150px;
        width: 100%;
    }

    .home-image .header-nav {
        width: 100%;
    }

    .home-image img {
        width: 100%;
        height: 200px;
    }

    .home-image .header-nav .left-logo {
        width: 100%;
    }

    .home-image .header-nav .middle-nav {
        padding: 0px;
        width: 100%;
        display: none;
    }

    .home-image .header-nav .right-search {
        padding-top: 15px;
        width: 100%;
        display: flex;
        columns: 1fr 1fr 1fr;
    }

    .home-image .header-nav .right-search button {
        width: 100px;
    }

    .home-header .home-image .homecontent {
        padding: 20px;
    }

    .aboutus .about-info img {
        height: 300px;
        width: 500px;
    }

    .aboutus .about-info .about-information {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
        margin-left: 80px;
    }

    #more-info {
        height: 800px;
        display: block;
        text-align: center;
    }

    #more-info .more-info-left {
        padding: 57px;
        margin-left: 0;
    }

    #more-info .more-info-right {
        padding: 40px;
    }

    #video-section {
        height: 400px;
    }

    #video-section .video-section-1 img {
        height: 400px;
    }

    #video-section .video-content h3 {
        font-size: 35px;
    }

    #video-section .video-content span {
        font-size: 55px;
    }

    #our-team {
        height: 1600px;
    }

    #our-team .our-team-1 {
        display: block;
    }

    #our-team .our-team-1 .our-team-left {
        padding: 20px;
        text-align: center;
        margin-left: -6px;
    }

    #our-team .our-team-1 .our-team-left p {
        margin-bottom: 70px;
    }

    #our-team .our-team-right {
        display: block;
        text-align: center;
        margin-left: 13px;
    }

    #our-team .our-team-right .team-member-1 img {
        height: 450px;
        width: 500px;
    }

    footer {
        padding: 0px;
    }

    footer .footer-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    footer .footer-content .left-content,
    .middle-content,
    .right-content {
        padding: 20px;
    }

    footer .footer-content .left-content p {
        width: 100%;
    }

    footer .footer-content .middle-content .links {
        gap: 50px;
        display: flex;
        flex-direction: row;
    }
}